body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h{
  align-content: center;
}
img{
  align-items: center;
  margin: 0 auto;
}
nav a{
  padding: 0 10px;
  background-color: grey;
  margin: 0 auto;
}
nav, figcaption{
  text-align:center;
}
#fearture-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
details div{
  float: left
  width: 25%;
  text-align: center;
  
}